*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style:  none;
    display: inline-block;
    margin-left: 60px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.fila{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;

}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;

}


footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Open Sans';
    padding-top: 40px;
    color: #fff;
    font-family: 'Open Sans';
}
.footer-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.rsocial{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}
.rsocial li{
    margin: 0 10px;

}
.rsocial a{
    text-decoration: none;
    color: #fff;

}
.rsocial a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.rsocial a:hover i{
 color: aqua;

}
.footer-b{
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footer-b p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
